* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  /* margin: 0 0 var(--header-height) 0; */
  font-family: var(--body-font);
  font-size: var(--normal-fs);
  font-weight: var(--fw-regular);
  background-color: hsl(var(--clr-primary-100));
  color: hsl(var(--clr-text));
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5 {
  color: hsl(var(--clr-primary-900));
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

i:hover {
  cursor: pointer;
}

/*==================== TYPOGRAPHY ====================*/
.body .ff-price {
  font-family: var(--ff-prices);
}

.body .ff-remark {
  font-family: var(--ff-remark);
}

.body .fs-big {
  font-size: var(--big-fs);
}

.body .fs-700 {
  font-size: var(--h1-fs);
}

.body .fs-600 {
  font-size: var(--h2-fs);
}

.body .fs-500 {
  font-size: var(--h3-fs);
}

.body .fs-small {
  font-size: var(--small-fs);
}

.body .fs-smallest {
  font-size: var(--smaller-fs);
}

.body .fw-600 {
  font-weight: var(--fw-semi-bold);
}

.body .fw-500 {
  font-weight: var(--fw-medium);
}

.body .fw-300 {
  font-weight: var(--fw-light);
}

/*==================== SECTIONS ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__remark {
  background-color: hsl(var(--clr-light-300));
}

.section__title {
  font-size: var(--h1-fs);
}

.section__subtitle {
  display: block;
  font-size: var(--small-fs);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== ELEMENTS ====================*/
.body .btn {
  border: 0;
  border-radius: .8em;
  padding: .4em.6em;
}

.body .btn-traslucid {
  background-color: hsla(var(--clr-secondary-100));
}

.body .btn-transparent {
  border: 1px solid hsl(var(--clr-primary-900));
  background-color: transparent;
}

.body .card-custom {
  border: 1px solid var(--clr-primary-200);
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: hsl(var(--clr-primary-100));
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

/*==================== BACKGROUND ====================*/
.body .home {
  background-color: purple;
}

/*==================== LAYOUT ====================*/
.body .container-limits {
  max-width: 30rem;
  padding-inline: 5%;
  padding-block: 4vh;
}

.body .flex {
  display: flex;
}

.body .grid {
  display: grid;
}

.custom-stack-0-5 > * + * {
  margin-top: var(--m-0-5);
}
.custom-stack-1 > * + * {
  margin-top: var(--m-1);
}
.custom-stack-1-5 > * + * {
  margin-top: var(--m-1-5);
}
.custom-stack-2 > * + * {
  margin-top: var(--m-2);
}
.custom-stack-2-5 > * + * {
  margin-top: var(--m-2-5);
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: hsl(var(--clr-light-100));
}

@media screen and (min-width: 768px) {
  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    padding: 0 1rem;
  }
}